@import '@material/button/mixins';
@import 'styles/material-styles.scss';
@import 'styles/mixins.scss';
@import 'styles/colors.scss';

.sign-in {
  height: 100%;
  background-color: $mdc-theme-primary;
  background: radial-gradient(
    circle,
    lighten($mdc-theme-primary, 10%),
    darken($mdc-theme-primary, 5%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.sign-in__content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  @include breakpoint(tablet) {
    width: 60%;
  }
  @include breakpoint(desktop) {
    width: 50%;
  }

  img {
    margin-bottom: 15px;
  }
}

.sign-in__interactive-area {
  display: flex;
  flex-direction: column;

  width: 80%;
  @include breakpoint(desktop) {
    width: 60%;
  }
}

.sign-in__button-group {
  display: flex;
  flex-direction: column;

  button {
    margin: 8px 0;
  }
}

.sign-in__logo {
  width: 60%;
  height: 60%;
  @include breakpoint(tablet) {
    width: 55%;
    height: 55%;
  }
  @include breakpoint(desktop) {
    width: 40%;
    height: 40%;
  }
}

.sign-in__google-button {
  @include mdc-button-container-fill-color($google-red);
}

.sign-in__fb-button {
  @include mdc-button-container-fill-color($facebook-blue);
}

.sign-in__twitter-button {
  @include mdc-button-container-fill-color($twitter-blue);
}
