$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $screen-lg-min) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: $screen-md-min) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: $screen-sm-min) {
      @content;
    }
  }
}
