.MuiFormControl-root-1 {
  background-color: whitesmoke;
}

input.MuiInputBase-input-46 {
  padding-left: 16px;
}

label.MuiInputLabel-formControl-10.MuiInputLabel-shrink-12 {
  top: 4px;
}

label.MuiInputLabel-formControl-10 {
  left: 16px;
  top: -8px;
  font-weight: 400;
}
